<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Arena Beladiri"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- Meta-data ini yang memberitahu sistem bahwa kita pakai v2 -->
            <meta-data
                android:name="flutterEmbedding"
                android:value="2" />
                
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Kode Widget Coach tetap di sini -->
        <receiver 
            android:name=".MyWidgetProvider" 
            android:exported="true"
            android:label="Arena Beladiri Wingchun.Hapki">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

    </application>
</manifest>